<br>
    <div class="twelve columns">
      <i><strong>This is a fansite and not affiliated with Warner Bros., Niantic, Portkey Games or the Harry Potter franchise.</strong>
    </div>
    <div class="twelve columns">
      <p>PORTKEY GAMES, HARRY POTTER: WIZARDS UNITE, WIZARDING WORLD, HARRY POTTER and FANTASTIC BEASTS characters, names and 
      related indicia © and TM Warner Bros. Entertainement Inc. © Niantic, Inc. All Rights Reserved.</p></i>
    </div>
  </div>
</div>
