<hr>
<div class="row"><h2>Add Friend</h2>
  <div class="six columns">
    <form method="POST" action="/friend/add-friend">
      <label>Friend Name</label>
        <input class="u-full-width" type="text" name="friendName" placeholder="Enter username" value={{friendName}}>
      <label>Friend Code <i>(NO SPACES)</i></label>         
        <input class="u-full-width" type="text" name="friendCode" placeholder="Enter user code" value={{friendCode}}>
      <button class="button button-primary">Add Friend</button>
    </form>
  </div>
</div>
