<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>YER a WIZARD</h1>

  {{#friends}}
  <ul>
    <li>{{username}}</li>
  
  <form method="POST" action="/friend/remove-friend">
    <input type="hidden" name="id" value={{id}} />
    <button class="button">Remove</button>
  </form>
  
  </ul>
  {{/friends}} 
<hr>
  {{> friend}}
  <br>
  <a class="button button-primary" href="/user/logout">Logout</a>
</body>
<hr>
{{> footer}}
</html>