<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>

<body>
  <h1>YER a WIZARD</h1>

  {{#friends}}
  <ul>
    <li>{{username}}</li>
  
  <form method="POST" action="/remove-friend">
    <input type="hidden" name="id" value={{id}} />
    <button>Remove</button>
  </form>
  
  </ul>
  {{/friends}}

  <a href="/friend">Add Friend</a>
  <br>
  <a class="button button-primary" href="/logout">Logout</a>
</body>
<hr>
{{> footer}}
</html>