<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Seymour+One&display=swap" rel="stylesheet">
  {{! <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"> }}
  <link rel="stylesheet" href="style.css">
</head>

<body>
  {{> header}}
<h3>Find Friends</h3>
  <table class="u-full-width">
  <thead>
    <tr>
      <th><b>User</b></th>
      <th><b>House</b></th>
      <th><b>Profession</b></th>
      <th><b>Location</b></th>
      <th><b>Gift Preferences</b></th>
    </tr>
  </thead>
{{#all}}
  <tbody>
    <tr>
      <td>{{username}}</td>
      <td>{{house}} </td>
      <td>{{profession}}</td>
      <td>{{location}}</td>
      <td>
        <b>1:</b> {{giftPref1}} 
        <b>2:</b> {{giftPref2}}
      </td>
      <td>
        <form method="POST" action="/friend/add-friend">
          <input type="hidden" name="friendID" value={{id}} />
        <button class="button button-primary">ADD</button>
        </form>
      </td>
  </tr>
   </tbody>
{{/all}}
 
  </table>
</body>
{{> footer}}
</html>