<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  {{! {{> header}} 
  <div class="container">
    <div class="row">
      <h1>WIZARDS UNITE</h1>
      <h2>Friend Finder</h2>
  <hr>
      <form method="POST" action="/user/login">
        <div class="six columns">
          <label>Username</label>
            <input class="u-full-width" type="text" name="userName" placeholder="Enter GAME username" value={{userName}}>
          </div>
        <div class="six columns">
          <label>Password</label>
            <input class="u-full-width" type="password" name="password" placeholder="Enter password" value={{password}}>
          </div>
        <button class="button button-primary">LOGIN</button>
      </form>
      <a class="button u-full-width" href="/register">Register</a>
    </div>
  </div>
</body>
{{> footer}}
</html>