<html>
<head>
</head>

<body>
  <h1>Add Friend</h1>
  <form method="POST" action="/add-friend">
    <h3>Friend Name</h3>
      <input type="text" name="friendName" placeholder="Enter username" value={{friendName}}>
    <h3>Friend Code</h3>
      <input type="text" name="friendCode" placeholder="Enter user code" value={{friendCode}}>
    <button>Add Friend</button>
  </form>

</body>
</html>