body {
  background-color: black;
  color: white;
  font-family: 'Lobster', cursive;
}

h1, h2 {
  text-align: center;
  font-family: 'Seymour One', sans-serif;
}

.button {
  background-color: darkmagenta;
  color: white;
}

hr {
  width: 100%;
  border-top: 10px dotted green;
}

ul {
  list-style-type: none;
}

li {
  color: black;
  padding: 5px;
  background-color: lightgrey;
  border: 2px solid gray;
  border-style: inset; 
}

/* change theme based on house */